*{
    margin: 0;
    padding: 0;
   
}

body{
    grid-template-columns: 1fr repeat(7);
    grid-template-rows: 1fr 7fr;
}

main {
    display: grid;
    grid-column: 1/8;
    grid-row: 2/3;
    margin: 0 10px;
    justify-content: center;
}

main > div {
    border: 1px solid black;
    
}




        




